.section_compatibility {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #1e2c37;s
}
.section_compatibility__producers {
  margin-top: 70px;
  margin-bottom: 50px;
}