.main_form__text {
  height: 38px;
  text-indent: 20px;
  font-size: 14px;
  line-height: 38px;
  font-family: 'HelveticaNeue', "RobotoRegular";
  color: #999;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}