.main_header {
  width: 100%
}
.main_header__top_line {
  margin: 20px 0 40px;
}
.main_header__text_block {
  margin: 0 auto;
  text-align: center;
  width: 750px;
}
.main_header__h2 {
  margin: 20px auto;
}
.main_header__h1 {
  margin: 20px auto;
}
.main_header__text {
  margin: 40px auto;
  font-size: 16px;
  color: #666;
}