.devices {
  margin-top: 90px;
  margin-bottom: 120px;
}
.devices .devices__stickers, .devices .text_block {
  display: inline-block;
  vertical-align: top;
}
.devices .devices__stickers {
  margin-right: 15px;
  width: 745px;
}
.devices .text_block {
  width: 375px;
}
.devices .h1 {
  margin-bottom: 40px;
}