.device-type-apple_tv {
  margin-bottom: 80px  !important;
  background: url(../../../../img/device_sprite_icon.png) no-repeat 50% -576px;
}
.device-type-apple_tv::after{
  content: "Apple TV";
  position: absolute;
  bottom: -40px;
  display: block;
  width: inherit;
  text-align: center;
  font-size: 16px;
  font-family: 'HelveticaNeue Regular' ,'RobotoRegular';
  color: #333;
}
