.producers__title {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  font-family: 'HelveticaNeue Light' ,'RobotoLight';
  color: #86949e;
}
.producers__title:hover {
  text-decoration: underline;
}
.producers__title:first-child {
  font-family:'HelveticaNeue Bold' ,'RobotoBold' ;
}
.producers__title:last-child {
  font-family:'HelveticaNeue Medium' ,'RobotoMedium' ;
  color: #25afd9;
}