.questions {
  background-color: #fff;
  padding: 60px 0 95px;
  text-align: center;
}
.questions .text_block {
  display: inline-block;
  text-align: left;
  width: 43%;
}
.questions .text_block:nth-child(2n) {
  margin: 60px 0 ;
  border-right: 1px solid #ccc;
  padding-right: 70px;
  
}
.questions .text_block:nth-child(2n+1) {
  margin: 60px 0 ;
  padding-left: 45px;
  padding-right: 25px;
}
.questions .h1 {
  text-transform: capitalize;
}
.questions .h3 {
  color: #1e1e1e
}
.questions .text {
  line-height:30px; 
  margin: 20px 0 40px;
  color: #666;
}