.button {
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.button:hover {
  color: #fff;
  border-color: transparent;
  background-color: #2ac4f3;
}
.button-size-m {
  padding: 0 38px;
  height: 55px;
  font-size: 16px;
  line-height: 55px;
}
.button-size-s {
  padding: 0 18px;
  height: 38px;
  font-size: 13px;
  line-height: 38px;
}
.button-txt_color-gray {
  color: #1e1e1e;
}
.button-txt_color-white {
  color: #fff;
}