.remote_item {
  position: relative;
  display: inline-block;
  margin: 7px 7px 7px 0;
  width: 32%;
  height: 250px;
  color: #1e1e1e;
  text-align: center;
  font-size: 17px;
  vertical-align: top;
  line-height: 65px;
  text-decoration: none;
  background-position: center;
}
.remote_item__cover_bg {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  mix-blend-mode: multiply;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.remote_item__cover_bg:hover {
  background: rgb(229,229,229);
}