.main_footer__content {
  margin: 0 auto;
  padding: 40px 15px;
  width: 390px;
  text-align: center;
}
.main_footer__mnu {
  margin-bottom: 15px;
}
.main_footer__main_form {
  margin-bottom: 10px;
}
.main_footer__social {
  margin-bottom: 30px;
}